name: Android Build

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v4

      - name: Create necessary directories
        run: |
          mkdir -p ~/.buildozer/android/platform/android-sdk
          mkdir -p ~/.buildozer/android/platform/android-ndk

      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt-get install -y build-essential git ffmpeg libsdl2-dev ...

      - name: Setup Java 17 required by Gradle
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10.11'

      - name: Install pip dependencies
        run: |
          pip install --upgrade pip
          pip install buildozer cython

      - name: Install Android NDK
        run: |
          mkdir -p ~/.buildozer/android/platform/android-ndk
          cd ~/.buildozer/android/platform/android-ndk
          wget https://dl.google.com/android/repository/android-ndk-r25b-linux.zip
          unzip android-ndk-r25b-linux.zip
          rm android-ndk-r25b-linux.zip

      - name: Build with Buildozer
        run: |
          yes | buildozer -v android debug

      - name: Upload APK artifact
        uses: actions/upload-artifact@v4
        with:
          name: package
          path: |
            bin/*.apk
            bin/*.aab
          retention-days: 3
